<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="EpicriseCtrl" ng-cloak
	class="ng-cloak">
<head>
<title>Виписка - {{patientHistory.patientHolDb.patientSurname}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/b/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/datepicker.css"></link>
<link rel='stylesheet prefetch' href='/css/font-awesome.min.css' />
<link rel="stylesheet" href="/css/epicrise3.css"></link>
<link href="/img/favicon.ico" rel="shortcut icon"
	type="image/vnd.microsoft.icon" />
	<style type="text/css">
		body {
			padding-top: 45px;
			padding-bottom: 60px;
		}
.panel-heading {
	/* For Safari 5.1 to 6.0 
	background: -webkit-linear-gradient(gray, blue);
	-webkit-gradient(linear, left top, left bottom, color-stop(0%, #00002b), color-stop(100%, #0060a2));
	*/
	/* For Opera 11.1 to 12.0 
	background: -o-linear-gradient(red, blue);
	*/
	/* 
	background: -moz-linear-gradient(gray, blue);	
	For Firefox 3.6 to 15 */
	/* Standard syntax 
	background: linear-gradient(DimGray, Gainsboro);
	background: linear-gradient(color-stop(0%, #00002b), color-stop(100%, #0060a2));
	background: linear-gradient(DimGray, SlateGray );
	*/
	background: linear-gradient(DimGray, SlateGray );
	text-shadow: 1px 1px 1px #999;
	color: #fff !important;
}
</style>
</head>

<body data-key-cuwytrap="">
	<div class="container">
		<div class="row no-print navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="col-xs-7">
				<ol class="breadcrumb">
					<li><a 
						data-ng-click="saveControlAndGo('/hol/home.html')"
					><span
							class="glyphicon glyphicon-home"></span> ХОЛ</a></li>
					<li><a
						data-ng-click="saveControlAndGo('/hol/department.html?dep='+patientHistory.patientDepartmentMovements
		[patientHistory.patientDepartmentMovements.length -1]
		.departmentId)">
							відділення:
							{{patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
							-1].departmentName}} </a></li>
					<li><a
						data-ng-click="saveControlAndGo('/hol/history.html?hno='+param.hno)"
						>
							ІХ № <u>{{patientHistory.historyNo}}</u>
					</a></li>
					<li><a
						data-ng-click="saveControlAndGo('/hol/epicrise4.html?hid='.concat(patientHistory.historyId))">
							Виписка <sub> Старий стиль </sub>
					</a></li>
				</ol>
			</div>
			<div class="col-xs-5"
				style="text-align: right; background-color: #f5f5f5;">
				<ol class="list-inline navbar-right">
					<li><span data-ng-show="autoSaveCount > 0"
						title="Кільськість автозбережень - {{autoSaveCount}}">
							{{autoSaveCount}} </span>
						<button type="button" class="btn btn-primary btn-sm"
							data-ng-click="saveWorkDocClick()" data-toggle="modal">
							<span class="glyphicon glyphicon-floppy-disk"></span> Запис
						</button> <span
						data-ng-show="patientHistory.requiredFieldFullProcent > 0">
							ТЧ {{patientHistory.requiredFieldFullProcent}}%</span></li>
					<li>
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" class="btn btn-primary btn-sm"
								data-toggle="modal" data-target="#myModal">∑</button>
							<button type="button" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-print"></span>
							</button>
						</div>
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" class="btn btn-primary btn-sm"
								title="Сортування" data-toggle="modal" data-target="#dialogSort">
								<span class="glyphicon glyphicon-sort"></span>
							</button>
							<button type="button" class="btn btn-primary btn-sm"
							data-ng-click="editOpenCloseAdd()"
								title="Додати">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</li>
					<li data-ng-show="!patientHistory.user"><span
						class="glyphicon glyphicon-log-in"></span> <a
						href="/login?url=addPatient&hno={{hno}}"> Ввійти </a></li>
					<li data-ng-show="patientHistory.user"><span
						class="glyphicon glyphicon-log-out"></span>
						:{{patientHistory.user.name}} <a
						data-ng-click="saveControlAndGo('/hol/logout.html')">
							Вийти </a></li>
				</ol>
			</div>
		</div>
		
		<div class="no-print navbar-right">
			<small class="bg-info"> Старий стиль | Новий стиль </small>
		</div>
		<!-- Modal dialogs -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Виписка</h4>
					</div>
					<div class="modal-body">
						<div data-ng-repeat="h1 in epicrise.epicriseGroups"
							data-ng-show="!h1.isOnDemand" data-ng-init="h1Index = $index">
							<u>{{h1.name}}</u>
							<!-- diagnose -->
							<span data-ng-repeat="ds in h1.diagnosis"> {{ds.icdCode}}
								- {{ds.icdName}} {{ds.historyDiagnosAdditional}} </span>
							<!-- operation -->
							<span data-ng-repeat="operationHistory in h1.operationHistorys"
								title="Хірург: {{operationHistory.surgery_name}}">
								{{operationHistory.operation_history_start | date:'dd.MM.yyyy'}}
								{{operationHistory.operation_name}} <br />
							</span> <span ng-bind-html="h1.value.textHtml"
								data-ng-show="!h1.value.laborValues"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="dialogSort" tabindex="-1" role="dialog"
			aria-labelledby="dialogSortLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="dialogSortLabel">Сортування</h4>
					</div>
					<div class="modal-body">
						<div class="panel-group" ui-sortable=""
							data-ng-model="epicrise.epicriseGroups">
							<div class="panel panel-default"
								data-ng-repeat="h1 in epicrise.epicriseGroups"
								data-ng-show="!h1.isOnDemand" data-ng-init="h1Index = $index">
								{{h1.name}}</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="">
			<span data-ng-show="patientHistory.patientHolDb.patientGender == 0">
				Хвора </span> <span
				data-ng-show="patientHistory.patientHolDb.patientGender == 1">
				Хворий </span> <span class="pip">
				{{patientHistory.patientHolDb.patientSurname}}
				{{patientHistory.patientHolDb.patientPersonalName}}
				{{patientHistory.patientHolDb.patientPatronymic}} </span> віком <b> <span
				data-ng-bind="calculateAge(patientHistory.patientHolDb.patientDob)"></span>
				р.,
			</b> що проживає за адресою <b> <span
				data-ng-if="patientHistory.patientHolDb.patientStreet">
					вул.{{patientHistory.patientHolDb.patientStreet}},
					буд.{{patientHistory.patientHolDb.patientHouse}},
					кв.{{patientHistory.patientHolDb.patientFlat}} </span>
			</b> <span data-ng-if="!patientHistory.patientHolDb.patientStreet">?</span>
			поступив <b>
				{{patientHistory.patientDepartmentMovements[0].departmentHistoryIn |
				date:'dd.MM.yyyy'}} </b> виписаний <b>
				{{epicrise.departmentHistoryOut | date:'dd.MM.yyyy'}} </b> провів
			ліжкоднів: <b> {{beetDays()}} </b>
		</div>
		<div class="no-print navbar-right">
			<small class="bg-info"> <b>Тип:</b> Використовуйти табулятор і праву кнопку миші.</small>
		</div>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default"
				data-ng-repeat="h1 in epicrise.epicriseGroups"
				data-ng-init="h1Index = $index">
				<div class="panel-heading" 
				data-ng-class="{'no-print navbar-right':h1.isOnDemand}"
				data-ng-context-menu="menuEpicriseGroup"
				data-ng-click="goLink('#g-'+h1Index)">
					<h4 class="panel-title">
						<a style="color: black;" data-ng-show="!h1.isOnDemand"
							data-toggle="modal" data-target="#dialogSort"> <span
							class="glyphicon glyphicon-sort"></span>
						</a> <a data-toggle="collapse" data-parent="#accordion"
							data-ng-click="editOpenClose2(h1Index)" href="#g-{{h1Index}}">
							<span data-ng-show="h1.isOnDemand">
								<button type="button" class="btn btn-primary btn-xs">
									<span class="glyphicon glyphicon-plus"></span> Додати:
								</button>
						</span> {{h1.name}} <span
							data-ng-if="!epicrise.epicriseGroups[h1Index].open"
							class="glyphicon glyphicon-chevron-right"></span> <span
							data-ng-if="epicrise.epicriseGroups[h1Index].open"
							class="glyphicon glyphicon-chevron-down"></span> 
						<!-- operation -->
						<span data-ng-context-menu="menuOperation"
							data-ng-repeat="operationHistory in h1.operationHistorys"
							title="Хірург: {{operationHistory.surgery_name}}">
								{{operationHistory.operation_history_start | date:'dd.MM.yyyy'}}
								{{operationHistory.operation_name}} <br />
						</span> 
						<!-- diagnose --> <span data-ng-repeat="ds in h1.diagnosis">
								{{ds.icdCode}} - {{ds.icdName}} {{ds.historyDiagnosAdditional}}
						</span> 
						<!-- labor --> <span data-ng-show="h1.isLabor">: <span
								data-ng-repeat="laborTemplate in epicriseTemplate.epicriseBlock[h1.name]">
									<span data-ng-context-menu="menuLabor"
									data-ng-show="h1.value.laborValues[laborTemplate.name]">
										{{laborTemplate.name}}
										{{epicrise[h1.name].laborValues[laborTemplate.name].value}}
										{{h1.value.laborValues[laborTemplate.name].value}}
										{{laborTemplate.unit}} <span data-ng-show="!$last">,</span>
								</span>
							</span>
						</span>
						</a>
					</h4>
				</div>
				<div id="g-{{h1Index}}" class="panel-collapse collapse">
					<div class="panel-body">
						<span data-ng-show="!h1.isTextHtml && !h1.isLabor && h1.name != 'Діагнози' && h1.name == 'Операції'">
							{{h1.isTextHtml}} {{h1.name}} </span>
						<div data-ng-show="h1.name == 'Операції'">
						Операції
						<div data-ng-if="patientHistory.operationHistorys">
							<div data-ng-context-menu="menuDeletOperation"
								data-ng-repeat="operation in patientHistory.operationHistorys">
								<small> <span class="glyphicon glyphicon-pushpin"></span>
								</small> <a href="#" data-ng-click="addOperation(h1, operation)">
									{{operation.operation_history_start | date:'dd.MM.yyyy HH:mm'}}
									- {{operation.operation_history_end | date:'HH:mm'}} </a> <span
									title="{{operation.operation_group_name}}/{{operation.operation_subgroup_name}}">{{operation.operation_name}}.</span>
								<span>{{operation.operation_additional}}</span>
								<div class="right" style="text-align: right;">
									Хірург: <i> {{operation.surgery_name}}</i>
								</div>
							</div>
						</div>
					</div>
						<div data-ng-show="h1.name == 'Діагнози'">
							Діагнози
							<ul>
								<li data-ng-repeat="ds in patientHistory.diagnosis"><a
									href="#" data-ng-click="addDiagnose(h1, ds)"> <u>
											{{configHol.diagnosesHol[ds.diagnosId - 1].diagnosNameShort}}
									</u> : {{ds.icdCode}} - {{ds.icdName}}
										{{ds.historyDiagnosAdditional}}
								</a></li>
							</ul>
						</div>
						<!-- Текст -->
						<div data-ng-show="h1.isTextHtml">
							<div text-angular ng-model="h1.value.textHtml"></div>
							<div
								data-ng-repeat="hta in patientHistory.historyTreatmentAnalysises"
								data-ng-show="h1.name == hta.historyTreatmentAnalysisName"
								data-ng-bind-html="hta.historyTreatmentAnalysisText"></div>
						</div>
						<!-- Лабораторія -->
						<div data-ng-show="h1.isLabor">
							<div class="input-group">
								<span class="input-group-addon">Фільтр:</span> <input
									data-ng-model="seekLabor" type="text" class="form-control"
									auto-focus="" placeholder=" пошук групи " auto-focus="" />
							</div>
							<table>
								<tr
									data-ng-repeat="laborTemplate in epicriseTemplate.epicriseBlock[h1.name] | filter : seekLabor">
									<td>{{laborTemplate.name}}</td>
									<td><a href="#"
										data-ng-show="laborTemplate.name != h1.laborOpenToEdit"
										data-ng-click="openLaborToEdit(h1, laborTemplate.name)">
											{{h1.value.laborValues[laborTemplate.name].value}} <span
											data-ng-show="!h1.value.laborValues[laborTemplate.name].value">
												_________ </span>
									</a>
										<form class="form-inline" role="form"
											data-ng-show="laborTemplate.name == h1.laborOpenToEdit">
											<div class="form-group">
												<div class="input-group">
													<input id="{{laborTemplate.name}}"
														ng-model="h1.value.laborValues[laborTemplate.name].value"
														class="form-control" type="text" />
												</div>
											</div>
										</form></td>
									<td>{{laborTemplate.unit}}</td>
								</tr>
							</table>
						</div>
						<!-- + Додати -->
						<div data-ng-show="h1.isOnDemand">
							<div class="input-group">
								<span class="input-group-addon">Фільтр:</span> <input
									data-ng-model="seekGroup" type="text" class="form-control"
									auto-focus="" placeholder=" пошук групи " auto-focus="" />
							</div>
							<span
								data-ng-repeat="tag in epicriseTemplate.head1s[2].tagsGroup">
								<span class="label"
								data-ng-class="{'label-warning':seekTag == tag || ('все' === tag && '' === seekTag ), 'label-default':seekTag != tag}"
								data-ng-click="setSeekTag(tag)">{{tag}}</span> &nbsp;
							</span> <span class="label"
								data-ng-class="{'label-warning':seekTag == epicriseTemplate.head1s[2].tags[0]
								 || ('все' === epicriseTemplate.head1s[2].tags[0] && '' === seekTag )
								 , 'label-default':seekTag != epicriseTemplate.head1s[2].tags[0]}"
								data-ng-click="setSeekTag(tag)">{{epicriseTemplate.head1s[2].tags[0]}}</span>
							<br /> 
							<table class="table">
								<tr>
									<th colspan="2" class="center">аналізи</th>
									<th rowspan="2">обстеженя</th>
									<th rowspan="2">інше</th>
								</tr>
								<tr>
									<th>крові</th>
									<th>сечі</th>
								</tr>
								<tr>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'крові' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'сечі' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'обстеженя' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'інше' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
								</tr>
							</table>
							<span
								data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter : seekTag | filter : seekGroup">
								<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a> |
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom"
		role="navigation">
		<div class="container">
			<span><span class="glyphicon glyphicon-console"></span> &#160;
				&nbsp; </span>
			<button type="button" class="btn btn-primary btn-sm"
				data-ng-click="saveWorkDocClick()" data-toggle="modal">
				<span class="glyphicon glyphicon-floppy-disk"></span> Запис
			</button>
			<ol class="list-inline navbar-right">
				<li>
					<div class="btn-group btn-group-sm" role="group">
						<button type="button" class="btn btn-primary btn-sm"
							data-toggle="modal" data-target="#myModal">∑</button>
						<button type="button" class="btn btn-primary btn-sm"
							><span class="glyphicon glyphicon-print"></span></button>
					</div>
					<div class="btn-group btn-group-sm" role="group">
						<button type="button" class="btn btn-primary btn-sm"
							title="Сортування" data-toggle="modal" data-target="#dialogSort">
							<span class="glyphicon glyphicon-sort"></span>
						</button>
						<button type="button" class="btn btn-primary btn-sm"
						data-ng-click="editOpenCloseAdd()"
							title="Додати">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</li>
				<li data-ng-show="!patientHistory.user"><span
					class="glyphicon glyphicon-log-in"></span> <a
					href="/login?url=addPatient&hno={{hno}}"> Ввійти </a></li>
				<li data-ng-show="patientHistory.user"><span
					class="glyphicon glyphicon-log-out"></span>
					:{{patientHistory.user.name}} <a
					data-ng-click="saveControlAndGo('/hol/logout.html')"> Вийти </a></li>
			</ol>
		</div>
	</nav>

</body>

<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/jquery-1.11.4.ui.min.js"></script>
<script src="/js/a/angular.min.js"></script>
<script src="/js/a/sortable.js"></script>
<script src="/js/a/angular-sanitize.min.js"></script>
<script src="/js/rangy-core.js"></script>
<script src="/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src='/js/textAngular-sanitize.min.js'></script>
<script src='/js/textAngular.min.js'></script>
<script src="/css/b/js/bootstrap.min.js"></script>
<script src="/db/config.json.js"></script>
<script src="/db/operationTree.json.js"></script>
<script src="/db/icd10uaGroups.json.js"></script>
<script src="/js/cuwy1.directives.js"></script>
<script src="/js/cuwy1.controller.js"></script>
<script src="/js/icd10Editor1Ctrl.js"></script>
<script src="/js/epicriseTemplate.json.js"></script>
<script src="/js/epicrise2.js"></script>

</html>
