<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="EpicriseCtrl"
 ng-cloak class="ng-cloak"
>
<head>

<title>
Виписка Від.:
	{{patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
	-1].departmentName}} - {{patientHistory.patientHolDb.patientSurname}}
</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/b/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/datepicker.css"></link>
<link rel='stylesheet prefetch' href='/css/font-awesome.min.css'/>
<link rel="stylesheet" href="/css/epicrise3.css"></link>
<link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<style type="text/css" media="screen">
	body {
		padding-top: 47px;
		padding-bottom: 60px;
	}
</style>
</head>

<body data-key-cuwytrap="">
	<nav class="navbar navbar-default navbar-fixed-top no-print"
		role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-7">
					<ol class="breadcrumb">
						<li title="Відділення"><i class="fa fa-bed"></i> <a
							data-ng-click="saveControlAndGo('/hol/department.html?dep='+patientHistory.patientDepartmentMovements
		[patientHistory.patientDepartmentMovements.length -1]
		.departmentId,'відділення:'+patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
							-1].departmentName)">
								{{patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
								-1].departmentName}} </a></li>
						<li><i class="fa fa-history"></i> <a
							data-ng-click="saveControlAndGo('/hol/history.html?hno='+param.hno, 'ІХ № '+patientHistory.historyNo)">
								ІХ<b>№</b><u>{{patientHistory.historyNo}}</u>
						</a></li>
						<li><small><span class="fa-stack"> <i
									class="fa fa-square-o fa-stack-2x"></i> <i
									class="fa fa-send fa-stack-1x"></i>
							</span></small> <a
							data-ng-click="saveControlAndGo('/hol/epicrise.html?hid='.concat(patientHistory.historyId),'Виписний епікриз')">
								Виписний епікриз <sub> Новий стиль </sub>
						</a></li>
					</ol>
				</div>
				<div class="col-xs-5"
					style="text-align: right; background-color: #f5f5f5;">
					<ol class="list-inline navbar-right">
						<li><span data-ng-show="autoSaveCount > 0"
							title="Кільськість автозбережень - {{autoSaveCount}}">
								{{autoSaveCount}} </span>
							<button type="button" class="btn btn-primary btn-sm"
								data-ng-click="saveWorkDocClick()" data-toggle="modal">
								<span class="glyphicon glyphicon-floppy-disk"></span> Запис
							</button> <span data-ng-show="patientHistory.requiredFieldFullProcent > 0">
								ТЧ {{patientHistory.requiredFieldFullProcent}}%</span></li>
						<li>
							<div class="btn-group btn-group-sm" role="group">
								<button type="button" class="btn btn-primary btn-sm"
									data-ng-click="editOpenCloseAdd()"
									title="Додати: Лікування, обстеження, аналізи, рекомендації...">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<button type="button" class="btn btn-primary btn-sm"
									data-ng-click="printWorkDocClick()" data-toggle="modal">
									<span class="glyphicon glyphicon-print"></span>
								</button>
							</div>
						</li>
						<li>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle"
									title="Меню" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a
										href="/hol/history.html?hno={{patientHistory.historyId}}">
											<i class="fa fa-history"></i> Перегляд ІХ
									</a></li>
									<li><a
										href="/hol/op.html?hid={{patientHistory.historyId}}"> <span
											class="glyphicon glyphicon-pushpin"></span>Операція
									</a></li>
									<li><a
										href="/hol/epicrise.html?hid={{patientHistory.historyId}}">
											<small><span class="fa-stack"> <i
													class="fa fa-square-o fa-stack-2x"></i> <i
													class="fa fa-send fa-stack-1x"></i>
											</span></small> Епікриз
									</a></li>
									<li role="separator" class="divider"></li>
									<li><a
										href="/hol/addPatient.html?hno={{patientHistory.historyId}}">
											<span class="glyphicon glyphicon-edit"></span> Редагування ПЧ
									</a></li>
									<li role="separator" class="divider"></li>
									<li><a
										href="http://{{configHol.hol1IP}}/history/{{patientHistory.historyId}}">
											<span class="glyphicon glyphicon-link"></span> HOL1
									</a></li>
									<li><a href="/hol/home.html"><span
											class="glyphicon glyphicon-home"></span> ХОЛ стартова</a></li>
								</ul>
							</div>
						</li>
						<li data-ng-show="!patientHistory.user"><span
							class="glyphicon glyphicon-log-in"></span> <a
							href="/login?url=addPatient&hno={{hno}}"> Ввійти </a></li>
						<li data-ng-show="patientHistory.user"><span
							class="glyphicon glyphicon-log-out"></span>
							:{{patientHistory.user.name}} <a
							data-ng-click="saveControlAndGo('/hol/logout.html')"> Вийти </a></li>
					</ol>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col-xs-5" style="text-align: right;">
				Хмельницька Обласна Лікарня
				<br/> м.Хмельницький, вул.Пілотська,1 
				<br/>
<small> Відділення
				«{{patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
				-1].departmentName}}» </small>
</div>
			<div class="col-xs-1" style="text-align: center;">
				<img alt="trizub" src="/img/gerb_small.png">
			</div>
			<div class="col-xs-6">
				+380 382 - 72-07-42, incoming@med.km.ua <br /> http://hol.in.ua/ <br />
				<small> <span
					data-ng-show="departmentFromConfig.department_telefon"> 
					<!--
					<b>Телефон:</b>
					 -->
						+380 382 - {{departmentFromConfig.department_telefon}}
				</span>
				</small>
			</div>
		</div>

		<h3 class="center">
			Виписний епікриз <br /> <small> Відділення
				«{{patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
				-1].departmentName}}» </small>
		</h3>

		<!-- 
		<h4 class="centered"></h4>
		 -->
		<h2 data-ng-show="!patientHistory.user">
			
		</h2>
		<div class="h3 alert alert-warning" role="alert"
			data-ng-show="!patientHistory.user">
			<span class="glyphicon glyphicon-warning-sign"></span> Для роботи з
			випискою <br /> ввійдіть в програму.
		</div>
		<div class="">
			<span data-ng-show="patientHistory.patientHolDb.patientGender == 0">
				Хвора </span> <span
				data-ng-show="patientHistory.patientHolDb.patientGender == 1">
				Хворий </span> <span class="pip">
				{{patientHistory.patientHolDb.patientSurname}}
				{{patientHistory.patientHolDb.patientPersonalName}}
				{{patientHistory.patientHolDb.patientPatronymic}} </span> віком <b> <span
				data-ng-bind="calculateAge(patientHistory.patientHolDb.patientDob)"></span>
				р.,
			</b> що проживає за адресою <b> <span
				data-ng-if="patientHistory.patientHolDb.patientStreet">
					вул.{{patientHistory.patientHolDb.patientStreet}},
					буд.{{patientHistory.patientHolDb.patientHouse}},
					кв.{{patientHistory.patientHolDb.patientFlat}} </span>
			</b> <span data-ng-if="!patientHistory.patientHolDb.patientStreet">?</span>
			поступив <b>
				{{patientHistory.patientDepartmentMovements[0].departmentHistoryIn |
				date:'dd.MM.yyyy'}} </b> виписаний <b>
				{{epicrise.departmentHistoryOut | date:'dd.MM.yyyy'}} </b> провів
			ліжкоднів: <b> {{beetDays()}} </b>
		</div>
		<div class="no-print navbar-right">
			<small class="bg-info"> <b>Новий стиль</b> | 
			<a href="#" ng-click="saveControlAndGo('/hol/epicrise4.html?hid='.concat(patientHistory.historyId),'Старий стиль')">
			Старий стиль
			</a>
			 | <a
				href="http://192.168.68.62/history/edit/id/56541"> <span
					class="glyphicon glyphicon-link"></span> Стара програма ІХ
			</a>
			</small>
		</div>
		<hr />
		<div class="no-print navbar-right">
			<small class="bg-info"> <b>Тип:</b> Використовуйти табулятор, enter
				і праву кнопку миші.
			</small>
		</div>
		<div>
			<div class="epicriseElement"
				data-ng-repeat-start="h1 in epicrise.epicriseGroups"
				data-ng-init="h1Index = $index"
				data-ng-class="{'no-print navbar-right':h1.isOnDemand}"
				>
				<span class="mouseover" data-ng-context-menu="menuEpicriseGroup"
					data-ng-click="editOpenClose(h1Index)"> <span
					data-ng-show="h1.isOnDemand">
						<button type="button" title=" {{h1.name}} "
							class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-plus"></span> Додати
						</button>
				</span> <a href="#" data-ng-show="!h1.isOnDemand"
					data-ng-class="{'no-print':h1.name == epicrise.epicriseGroups[h1Index - 1].name}">
						<u> <span data-ng-show="!h1.diagnosis"> {{h1.name}} </span> <span
							data-ng-show="h1.diagnosis">
								{{configHol.diagnosesHol[h1.diagnosis[0].diagnosId -
								1].diagnosName}}</span>
					</u> :
				</a> <span data-ng-show="h1.value.withDate">
						{{h1.value.historyTreatmentAnalysisDatetime | date:'dd.MM.yyyy'}}
				</span>
				</span>
				<!-- dz 
						Діагноз при госпіталізації:
					-->
				<span data-ng-show="h1.name == 'Діагнози'"> <span
					data-ng-context-menu="menuDiagnos"
					data-ng-repeat="ds in h1.diagnosis"> 
					 {{ds.icdCode}} - {{ds.icdName}} {{ds.historyDiagnosAdditional}}
				</span>
				</span>
				<!-- текстові html данні -->
				<span ng-bind-html="h1.value.textHtml"
					data-ng-show="!h1.value.laborValues && !epicrise.epicriseGroups[h1Index].open"></span>
				<!-- лабораторні данні -->
				<span
					data-ng-repeat="laborTemplate in epicriseTemplate.epicriseBlock[h1.name]">
					<span data-ng-context-menu="menuLabor"
					data-ng-show="h1.value.laborValues[laborTemplate.name].value.length > 0">
					<!-- 
					data-ng-show="h1.value.laborValues[laborTemplate.name]">
					 -->
						{{laborTemplate.name}}
						{{epicrise[h1.name].laborValues[laborTemplate.name].value}}
						{{h1.value.laborValues[laborTemplate.name].value}}
						{{laborTemplate.unit}} <span data-ng-show="!$last">,</span>
				</span>
				<!-- Операції -->
				</span> <span data-ng-context-menu="menuOperation"
					data-ng-repeat="operationHistory in h1.operationHistorys"
					title="Хірург: {{operationHistory.surgery_name}}">
					{{operationHistory.operation_history_start | date:'dd.MM.yyyy'}}
					{{operationHistory.operation_name}} <br />
				</span>
			</div>
			<!-- редактор -->
			<div class="row well no-print" data-ng-repeat-end=""
				data-ng-show="epicrise.epicriseGroups[h1Index].open">
				<hr data-ng-show="h1.isOnDemand" />
				<div class="col-xs-9">
					<div data-ng-show="h1.name == 'Діагнози'">
						Діагнози
						<ul>
							<li data-ng-repeat="ds in patientHistory.diagnosis"><a
								href="#" data-ng-click="addDiagnose(h1, ds)">
								<u>
								{{configHol.diagnosesHol[ds.diagnosId - 1].diagnosNameShort}}
								</u>
								{{ds.icdCode}}
									- {{ds.icdName}} {{ds.historyDiagnosAdditional}} </a></li>
						</ul>
					</div>
					<div data-ng-show="h1.name == 'Операції'">
						<div data-ng-if="!patientHistory.operationHistorys">Жодного
							запису про операції в історії хвороби цього хворого.</div>
						<div data-ng-context-menu="menuDeletOperation"
							data-ng-repeat="operation in patientHistory.operationHistorys">
							<small> <span class="glyphicon glyphicon-pushpin"></span>
							</small> <a href="#" data-ng-click="addOperation(h1, operation)">
								{{operation.operation_history_start | date:'dd.MM.yyyy HH:mm'}}
								- {{operation.operation_history_end | date:'HH:mm'}} </a> <span
								title="{{operation.operation_group_name}}/{{operation.operation_subgroup_name}}">{{operation.operation_name}}.</span>
							<span>{{operation.operation_additional}}</span>
							<div class="right" style="text-align: right;">
								Хірург: <i> {{operation.surgery_name}}</i>
							</div>
						</div>
					</div>
					<!-- данні текстового формату - редактор -->
					<div data-ng-show="h1.isTextHtml">
						<div text-angular ta-toolbar="[['bold','italics','underline'],['undo','redo']
						,['justifyLeft','justifyCenter','justifyRight']]" ng-model="h1.value.textHtml"
						focus="focusedH1Index === h1Index"
						></div>
						<div
							data-ng-repeat="hta in patientHistory.historyTreatmentAnalysises"
							data-ng-show="h1.name == hta.historyTreatmentAnalysisName">
							<span>
							{{hta.historyTreatmentAnalysisDate | date:'dd.MM.yyyy'}}
							</span>
							<span data-ng-bind-html="hta.historyTreatmentAnalysisText">
							</span>
						</div>
					</div>
					<!-- + Додати -->
<div data-ng-show="h1.isOnDemand">
							<div class="input-group">
								<span class="input-group-addon">Фільтр:</span> <input
									data-ng-model="seekGroup" type="text" class="form-control"
									auto-focus="" placeholder=" пошук групи " auto-focus="" />
							</div>
							<span
								data-ng-repeat="tag in epicriseTemplate.head1s[2].tagsGroup">
								<span class="label"
								data-ng-class="{'label-warning':seekTag == tag || ('все' === tag && '' === seekTag ), 'label-default':seekTag != tag}"
								data-ng-click="setSeekTag(tag)">{{tag}}</span> &nbsp;
							</span> <span class="label"
								data-ng-class="{'label-warning':seekTag == epicriseTemplate.head1s[2].tags[0]
								 || ('все' === epicriseTemplate.head1s[2].tags[0] && '' === seekTag )
								 , 'label-default':seekTag != epicriseTemplate.head1s[2].tags[0]}"
								data-ng-click="setSeekTag(tag)">{{epicriseTemplate.head1s[2].tags[0]}}</span>
							<br /> 
							<table class="table">
								<tr>
									<th colspan="2" class="center">аналізи</th>
									<th rowspan="2">обстеженя</th>
									<th rowspan="2">інше</th>
								</tr>
								<tr>
									<th>крові</th>
									<th>сечі</th>
								</tr>
								<tr>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'крові' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'сечі' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'обстеженя' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
									<td>
										<div
											data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter: 'інше' | filter : seekTag | filter : seekGroup">
											<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a>
										</div>
									</td>
								</tr>
							</table>
							<!-- 
							 -->
							<span
								data-ng-repeat="h2 in epicriseTemplate.head1s[2].addGroup | filter : seekTag | filter : seekGroup">
								<a href="#" data-ng-click="addGroup(h2, h1Index)"> {{h2.name}} </a> |
							</span>
						</div>
					<!-- лабораторні данні редактор -->
					<div data-ng-show="h1.isDiagnos">
						<span data-ng-repeat="diagnosHol in configHol.diagnosesHol"
							data-ng-show="$index < 6"><b
							title="{{diagnosHol.diagnosName}}"> <span
								data-ng-show="$index < 2">
									{{diagnosHol.diagnosNameShort}} </span> <a data-ng-show="$index > 1"
								data-ng-click="setDiagnosIndex($index)">{{diagnosHol.diagnosNameShort}}</a>
						</b> <span class="glyphicon glyphicon-folder-open"
							data-ng-show="diagnosisIndex == $index"></span><span
							data-ng-show="!(diagnosTypeIndex[diagnosHol.diagnosId] >= 0)">,
						</span><span data-ng-show="diagnosTypeIndex[diagnosHol.diagnosId] >= 0">:
								{{patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].icdCode}}
								-
								{{patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].icdName
								}}<span
								data-ng-show="patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].historyDiagnosAdditional">.
									{{patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].historyDiagnosAdditional}}
							</span>
						</span> <br data-ng-if="diagnosTypeIndex[diagnosHol.diagnosId]" /> </span>


						<div class="well" collapse="collapseIcd10Liste">

							<form class="form-inline" role="form">
								<div class="form-group">
									<div class="input-group required-simple">
										<div class="input-group-addon">
											{{diagnosesHol[diagnosisIndex].diagnosNameShort}}
											{{diagnosisIndex}} : МКБ</div>
										<input type="text" class="form-control" id="icd10"
											data-ng-change="changeIcd10Name()" name="icd10"
											data-ng-model="patientHistory.diagnosis[diagnosisIndex].icdName" />
									</div>
									<div class="input-group">
										<label for="icd10Add">Додаток до діагнозу:</label>
										<textarea class="form-control" rows="3" cols="50"
											id="icd10Add" name="icd10Add"
											data-ng-model="patientHistory.diagnosis[diagnosisIndex].historyDiagnosAdditional"></textarea>
									</div>
								</div>
							</form>

							<div class="row">
								<div class="col-xs-6">
									<ul>
										<li
											data-ng-repeat="icd10Class1 in icd10Root.icd10Childs | filter:patientHistory.diagnosis[diagnosisIndex].icdName">
											<span data-ng-show="{{icd10Class1.icdCode.contains('-') }}">
												{{icd10Class1.icdCode }}, {{icd10Class1.icdName}} </span> <a
											data-ng-show="{{!icd10Class1.icdCode.contains('-') }}"
											data-ng-click="setIcd10(icd10Class1)">
												{{icd10Class1.icdCode }}, {{icd10Class1.icdName}} </a>
											<ul
												data-ng-show="patientHistory.diagnosis[diagnosisIndex].icdName.length > 2">
												<li
													data-ng-repeat="icd10Class2 in icd10Class1.icd10Childs | filter:patientHistory.diagnosis[diagnosisIndex].icdName">
													<span data-ng-show="{{icd10Class2.icdCode.contains('-') }}">
														{{icd10Class2.icdCode }}, {{icd10Class2.icdName}} </span> <a
													data-ng-show="{{!icd10Class2.icdCode.contains('-') }}"
													data-ng-click="setIcd10(icd10Class2)">
														{{icd10Class2.icdCode }}, {{icd10Class2.icdName}} </a>
													<ul>
														<li
															data-ng-repeat="icd10Class3 in icd10Class2.icd10Childs | filter:patientHistory.diagnosis[diagnosisIndex].icdName">
															<span
															data-ng-show="{{icd10Class3.icdCode.contains('-') }}">
																{{icd10Class3.icdCode }}, {{icd10Class3.icdName}} </span> <a
															data-ng-show="{{!icd10Class3.icdCode.contains('-') }}"
															data-ng-click="setIcd10(icd10Class3)">
																{{icd10Class3.icdCode }}, {{icd10Class3.icdName}} </a>
															<ul>
																<li
																	data-ng-repeat="icd10Class4 in icd10Class3.icd10Childs | filter:patientHistory.diagnosis[diagnosisIndex].icdName">
																	{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} <span
																	data-ng-show="{{icd10Class4.icdCode.contains('-') }}">
																		{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} </span> <a
																	data-ng-show="{{!icd10Class4.icdCode.contains('-') }}"
																	data-ng-click="setIcd10(icd10Class4)">
																		{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} </a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-xs-6" data-ng-controller="icd10Ctrl">

									<ul>
										<li ng-repeat="icd10Class1 in icd10Root.icd10Childs"><span
											ng-if="!icd10Class1.collapse"
											class="glyphicon glyphicon-{{iconsTreeClose}}"></span> <span
											ng-if="icd10Class1.collapse"
											class="glyphicon glyphicon-{{iconsTreeOpen}}"></span> <span
											class="record"
											ng-class="{'record-highlight':  icd10Class1.icdId == icd10Selected.icdId
, 'record-highlight-parent': icd10Class1.icdId == icd10Pfad2Parents[1].icdId }"
											ng-click="clickItem(icd10Class1)"
											title="{{icd10Class1.icd10Childs.length}}">
												{{icd10Class1.icdCode }}, {{icd10Class1.icdName}} </span>
											<ul ng-if="isIcd10ChildsOpen(icd10Class1)">
												<li ng-repeat="icd10Class2 in icd10Class1.icd10Childs">
													<span ng-if="!icd10Class2.collapse"
													class="glyphicon glyphicon-{{iconsTreeClose}}"></span> <span
													ng-if="icd10Class2.collapse"
													class="glyphicon glyphicon-{{iconsTreeOpen}}"></span> <span
													class="record"
													ng-class="{'record-highlight': icd10Class2.icdId == icd10Selected.icdId
		, 'record-highlight-parent': icd10Class2.icdId == icd10Pfad2Parents[2].icdId }"
													ng-click="clickItem(icd10Class2)"
													title="{{icd10Class2.icd10Childs.length}}">
														{{icd10Class2.icdCode }}, {{icd10Class2.icdName}} </span>
													<ul ng-if="isIcd10ChildsOpen(icd10Class2)">
														<li ng-repeat="icd10Class3 in icd10Class2.icd10Childs">
															<span
															ng-if="icd10Class3.icdRightKey - icd10Class3.icdLeftKey == 1"
															class="glyphicon glyphicon-minus"> </span> <span
															ng-if="icd10Class3.icdRightKey - icd10Class3.icdLeftKey > 1">
																<span ng-if="!icd10Class3.collapse"
																class="glyphicon glyphicon-{{iconsTreeClose}}"></span> <span
																ng-if="icd10Class3.collapse"
																class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
														</span> <span class="record"
															ng-class="{'record-highlight': icd10Class3.icdId == icd10Selected.icdId
				, 'record-highlight-parent': icd10Class3.icdId == icd10Pfad2Parents[3].icdId }"
															ng-click="clickItem(icd10Class3)"
															title="{{icd10Class3.icd10Childs.length}}">
																{{icd10Class3.icdCode }}, {{icd10Class3.icdName}} </span>
															<ul ng-if="isIcd10ChildsOpen(icd10Class3)">
																<li ng-repeat="icd10Class4 in icd10Class3.icd10Childs">
																	<span
																	ng-if="icd10Class4.icdRightKey - icd10Class4.icdLeftKey == 1"
																	class="glyphicon glyphicon-minus"> </span> <span
																	ng-if="icd10Class4.icdRightKey - icd10Class4.icdLeftKey > 1">
																		<span ng-if="!icd10Class4.collapse"
																		class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
																		<span ng-if="icd10Class4.collapse"
																		class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
																</span> <span class="record"
																	ng-class="{'record-highlight': icd10Class4.icdId == icd10Selected.icdId
						, 'record-highlight-parent': icd10Class4.icdId == icd10Pfad2Parents[4].icdId }"
																	ng-click="clickItem(icd10Class4)"
																	title="{{icd10Class4.icd10Childs.length}}">
																		{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} </span>
																	<ul ng-if="isIcd10ChildsOpen(icd10Class4)">
																		<li ng-repeat="icd10Class5 in icd10Class4.icd10Childs">
																			<span
																			ng-if="icd10Class5.icdRightKey - icd10Class5.icdLeftKey == 1"
																			class="glyphicon glyphicon-minus"> </span> <span
																			ng-if="icd10Class5.icdRightKey - icd10Class5.icdLeftKey > 1">
																				<span ng-if="!icd10Class5.collapse"
																				class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
																				<span ng-if="icd10Class5.collapse"
																				class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
																		</span> <span class="record"
																			ng-class="{'record-highlight': icd10Class5.icdId == icd10Selected.icdId
								, 'record-highlight-parent': icd10Class5.icdId == icd10Pfad2Parents[5].icdId }"
																			ng-click="clickItem(icd10Class5)"
																			title="{{icd10Class5.icd10Childs.length}}">
																				{{icd10Class5.icdCode }}, {{icd10Class5.icdName}} </span>
																		</li>
																	</ul>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div data-ng-show="h1.isLabor">
							<div class="input-group">
								<span class="input-group-addon">Фільтр:</span> <input
									data-ng-model="seekLabor" type="text" class="form-control"
									auto-focus="" placeholder=" пошук групи " auto-focus="" />
							</div>
							<table>
								<tr
									data-ng-repeat="laborTemplate in epicriseTemplate.epicriseBlock[h1.name] | filter : seekLabor">
									<td>{{laborTemplate.name}}</td>
									<td>
									<form class="form-inline" role="form">
										<div class="form-group">
											<div class="input-group">
												<input id="{{laborTemplate.name}}"
													ng-model="h1.value.laborValues[laborTemplate.name].value"
													class="form-control" type="text" />
											</div>
										</div>
									</form>
								</td>
									<td>{{laborTemplate.unit}}</td>
								<td ng-show="laborTemplate.texts"><span
									ng-repeat="text in laborTemplate.texts"> <a
										ng-click="addTextTo(h1.value.laborValues[laborTemplate.name],text)">
											{{text}} </a> ,
								</span></td>
							</tr>
							</table>
						</div>
				</div>
				<div class="col-xs-3"
				data-ng-show="h1.name != 'Діагнози' && h1.name != 'Операції' && !h1.isOnDemand"
				>
					<div>
						<label> Додати дату <input type="checkbox"
							data-ng-model="h1.value.withDate" />
						</label>
					</div>
					<div data-ng-show="h1.value.withDate">
						<div class="pip">
							{{h1.value.historyTreatmentAnalysisDatetime | date:'dd.MM.yyyy'}}
						</div>
						<datepicker
							data-ng-model="h1.value.historyTreatmentAnalysisDatetime"
							min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
					</div>
				</div>
			</div>

			<div ng-show="false">
			<h3 data-ng-show="isNewFromHol1" class="no-print">
				Нові записи добавлені в ЕПІКРІЗ в старій історії хвороби.
			</h3>
			<table class="no-print">
				<tr data-ng-repeat="hta in patientHistory.historyTreatmentAnalysises"
					data-ng-show="!hta.isIdCopied && !(hta.removeFromHol1DB == true)">
					<td><b> {{hta.historyTreatmentAnalysisName}} </b></td>
					<td>{{hta.historyTreatmentAnalysisDate | date:'dd.MM.yyyy'}}</td>
					<td>
						<div 
						data-ng-show="!(hta.historyTreatmentAnalysisName == 'ЗАС' || hta.historyTreatmentAnalysisName == 'ЗАК'
					 || hta.historyTreatmentAnalysisName == 'Біохімічний аналіз') "
						data-ng-bind-html="hta.historyTreatmentAnalysisText"></div>
					<span data-ng-show="hta.historyTreatmentAnalysisName == 'ЗАС' || hta.historyTreatmentAnalysisName == 'ЗАК'
					 || hta.historyTreatmentAnalysisName == 'Біохімічний аналіз' ">
					{{hta.historyTreatmentAnalysisName}}
					</span>
					</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm"
							data-ng-click="removeNewHol1_hta(hta)" data-toggle="modal">
							<span class="glyphicon glyphicon-remove"></span> Видалити
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm"
							data-ng-click="addNewHol1_hta(hta, $index)" data-toggle="modal">
							<span class="glyphicon glyphicon-plus"></span> Додати
						</button>
					</td>
				</tr>
			</table>
			</div>
			<hr />
			Лікар: 
			{{patientHistory.user.name}}___________________
			Зав. відділенням _____________________
			{{configHol.departments[configHol.departmentsIdPosition[patientHistory.departmentId]].zaviduvach}} 
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom"
		role="navigation">
		<div class="container">
			<div class="navbar-right bg-info">
				<small> <b>Увага</b>:
				Стара програма на момент запису ЕПІКРИЗу не повинна бути відкрита в CHROM.
				Інакше запис в стару програму не буде принятий.
				</small>
				<!-- 
				<small> <b>Увага</b>:Збережений за допомогою нової програми
					ЕПІКРИЗ буде доступній в старій програмі тільки коли CHROM буде
					перезагружений
				</small>
				 -->
			</div>
		</div>
		<div class="container">

			<span><span class="glyphicon glyphicon-console"></span> &#160;
				&nbsp; </span> <span data-ng-show="autoSaveCount > 0"
				title="Кільськість автозбережень - {{autoSaveCount}}">
				{{autoSaveCount}} </span>
			<button type="button" class="btn btn-primary btn-sm"
				data-ng-click="saveWorkDocClick()" data-toggle="modal">
				<span class="glyphicon glyphicon-floppy-disk"></span> Запис
			</button>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-primary btn-sm"
					data-ng-click="editOpenCloseAdd()"
					title="Додати: Лікування, обстеження, аналізи, рекомендації...">
					<span class="glyphicon glyphicon-plus"></span> Додати
				</button>
			</div>
			<button type="button" class="btn btn-primary btn-sm"
				data-ng-click="printWorkDocClick()" data-toggle="modal">
				<span class="glyphicon glyphicon-print"></span>
			</button>

			<ol class="list-inline navbar-right">
				<li></li>
				<li data-ng-show="!patientHistory.user"><span
					class="glyphicon glyphicon-log-in"></span> <a
					href="/login?url=addPatient&hno={{hno}}"> Ввійти </a></li>
				<li data-ng-show="patientHistory.user"><span
					class="glyphicon glyphicon-log-out"></span>
					:{{patientHistory.user.name}} <a
					data-ng-click="saveControlAndGo('/hol/logout.html')"> Вийти </a></li>
			</ol>
		</div>
	</nav>
</body>

<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/jquery-1.11.4.ui.min.js"></script>
<script src="/js2/angular_uk.min.js"></script>
<script src="/js/a/sortable.js"></script>
<script src="/js/a/angular-sanitize.min.js"></script>
<script src="/js/rangy-core.js"></script>
<script src="/js2/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src='/js/textAngular-sanitize.min.js'></script>
<script src='/js/textAngular.min.js'></script>
<script src="/css/b/js/bootstrap.min.js"></script>
<script src="/db/config.json.js"></script>
<script src="/db/operationTree.json.js"></script>
<script src="/db/icd10uaGroups.json.js"></script>
<script src="/js/cuwy1.directives.js"></script>
<script src="/js/cuwy1.controller.js"></script>
<script src="/js/icd10Editor1Ctrl.js"></script>
	<script src="/js/epicriseTemplate.json.js"></script>
	<script src="/js/epicrise2.js"></script>
<!-- 
	<script src="/css/b/js/bootstrap.min.js"></script>
	<script src="/js/jquery-1.11.4.ui.min.js"></script>
	<script src="/js/rangy-core.js"></script>
	<script src="/js/a/sortable.js"></script>
	<script src="/js/a/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="/css/b/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src='/js/textAngular-sanitize.min.js'></script>
	<script src='/js/textAngular.min.js'></script>
	<script src="/db/config.json.js"></script>
	<script src="/db/operationTree.json.js"></script>
	<script src="/db/icd10uaGroups.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/cuwy1.controller.js"></script>
	<script src="/js/icd10Editor1Ctrl.js"></script>
	<script src="/js/epicriseTemplate.json.js"></script>
	<script src="/js/epicrise2.js"></script>
 -->

</html>
