<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="EpicriseCtrl" ng-cloak
	class="ng-cloak">
<head>
<title>Виписка - {{patientHistory.patientHolDb.patientSurname}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/b/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/datepicker.css"></link>
<link rel='stylesheet prefetch' href='/css/font-awesome.min.css' />
<link rel="stylesheet" href="/css/epicrise3.css"></link>
<link href="/img/favicon.ico" rel="shortcut icon"
	type="image/vnd.microsoft.icon" />

</head>

<body data-key-cuwytrap="">
	<div class="container">
		<div class="panel-group" id="accordion" ui-sortable=""
			data-ng-model="epicrise.epicriseGroups">
			<div class="panel panel-default"
				data-ng-repeat="h1 in epicrise.epicriseGroups"
				data-ng-init="h1Index = $index">

				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#g-{{h1Index}}">{{h1.name}}</a>
					</h4>
				</div>
				<div id="g-{{h1Index}}" class="panel-collapse collapse">
					<div class="panel-body">{{h1.name}}</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/jquery-1.11.4.ui.min.js"></script>
<script src="/js/a/angular.min.js"></script>
<script src="/js/a/sortable.js"></script>
<script src="/js/a/angular-sanitize.min.js"></script>
<script src="/js/rangy-core.js"></script>
<script src="/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src='/js/textAngular-sanitize.min.js'></script>
<script src='/js/textAngular.min.js'></script>
<script src="/css/b/js/bootstrap.min.js"></script>
<script src="/db/config.json.js"></script>
<script src="/db/operationTree.json.js"></script>
<script src="/db/icd10uaGroups.json.js"></script>
<script src="/js/cuwy1.directives.js"></script>
<script src="/js/cuwy1.controller.js"></script>
<script src="/js/icd10Editor1Ctrl.js"></script>
<script src="/js/epicriseTemplate.json.js"></script>
<script src="/js/epicrise2.js"></script>

</html>