<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="HistoryCtrl" ng-cloak class="ng-cloak">
<head>
	<title>ХОЛ::
	{{patientHistory.patientDepartmentMovements
				[patientHistory.patientDepartmentMovements.length -1]
				.departmentName}}
	</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/css/b/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/datepicker.css"></link>
	<link rel="stylesheet" href="/css/epicrise3.css"></link>
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	</style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="navbar-header">
				<ol class="breadcrumb">
					<li><a href="/hol/home.html"><span
							class="glyphicon glyphicon-home"></span> ХОЛ</a></li>
							<li><a
								href="/hol/department.html?dep={{patientHistory.patientDepartmentMovements
		[patientHistory.patientDepartmentMovements.length -1]
		.departmentId}}
		">
									відділення: {{patientHistory.patientDepartmentMovements
									[patientHistory.patientDepartmentMovements.length -1]
									.departmentName}} </a></li>
							<li>
					<a href="/hol/history.html?hno={{param.hno}}">
					ІХ № <u>{{patientHistory.historyNo}}</u>
						::Короткий перегляд
					</a>
					</li>
				</ol>
			</div>
		</div>
		<div class="col-md-3" style="text-align: right;">
			<ul class="list-inline navbar-right">
				<li><span class="glyphicon glyphicon-floppy-disk"></span> <a
					data-ng-click="saveWorkDoc()" href="#"
					title="Запис {{numberOfChange}} незбережених змін"> Запис
						{{numberOfChange}} </a> <span
					data-ng-show="patientHistory.requiredFieldFullProcent > 0">
						ТЧ {{patientHistory.requiredFieldFullProcent}}%</span></li>
				<li>|</li>
				<li data-ng-show="!patientHistory.user"><span
					class="glyphicon glyphicon-log-in"></span> <a href="/login">
						Ввійти </a></li>
				<li data-ng-show="patientHistory.user"><span
					class="glyphicon glyphicon-log-out"></span>
					:{{patientHistory.user.name}} <a href="/hol/logout.html">
						Вийти </a></li>
			</ul>
		</div>
	</div>

</div>
</nav>
	<div class="container">
		<div class="row">
		<div class="col-md-9">
			<div>
					<h2 data-ng-show="!patientHistory.user">
						<span class="glyphicon glyphicon-warning-sign"></span> <span
							class="btn-warning"> №: {{patientHistory.historyNo}} <br /> Для відкриття
							історії хвороби <b>{{hno}}</b> <br /> ввійдіть в програму.
						</span> 
					</h2>
					<h4 data-ng-show="{{patientHistory}}">№: {{patientHistory.historyNo}}
					{{patientHistory.patientHolDb.patientSurname}}
					{{patientHistory.patientHolDb.patientPersonalName}}
					{{patientHistory.patientHolDb.patientPatronymic}}</h4>
					<div>
						<span
							data-ng-show="patientHistory.patientHolDb.patientGender == 1">
							Хворий: </span> <span
							data-ng-show="patientHistory.patientHolDb.patientGender != 1">
							Хвора: </span> <span class="pip">
							{{patientHistory.patientHolDb.patientSurname}}
							{{patientHistory.patientHolDb.patientPersonalName}}
							{{patientHistory.patientHolDb.patientPatronymic}}</span> <span
							ng-bind="calculateAge(patientHistory.patientHolDb.patientDob)"></span>
						р. (*{{patientHistory.patientHolDb.patientDob |
						date:'dd.MM.yyyy'}})
					</div>
					<div>
					Адреса: <span ng-if="patientHistory.patientHolDb.patientStreet">
						вул.{{patientHistory.patientHolDb.patientStreet}},
						буд.{{patientHistory.patientHolDb.patientHouse}},
						кв.{{patientHistory.patientHolDb.patientFlat}} </span> <span
						ng-if="!patientHistory.patientHolDb.patientStreet">?</span>
				</div>
				<div>
					Місце роботи: <span ng-if="patientHistory.patientHolDb.patientJob">
						{{patientHistory.patientHolDb.patientJob}} </span> <span
						ng-if="!patientHistory.patientHolDb.patientJob">?</span>
				</div>
				<div>
					Медична інформація: <span>гр.кр. <span
						ng-if="'I' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(O),</span>
						<span ng-if="'II' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(A),</span>
						<span ng-if="'III' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(B),</span>
						<span ng-if="'IV' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(AB),</span>
					</span> <span ng-if="1 == patientHistory.patientHolDb.patientRh2">Rh(+),</span>
					<span ng-if="0 == patientHistory.patientHolDb.patientRh2">Rh(-),</span>
					<span
						ng-if="!(1 == patientHistory.patientHolDb.patientRh2 || 0 == patientHistory.patientHolDb.patientRh2)">Rh(?),</span>

					<span ng-if="1 == patientHistory.patientHolDb.patientBj">Bj(+),</span>
					<span ng-if="0 == patientHistory.patientHolDb.patientBj">Bj(-),</span>
					<span
						ng-if="!(1 == patientHistory.patientHolDb.patientBj || 0 == patientHistory.patientHolDb.patientBj)">Bj(?),</span>

					<span ng-if="1 == patientHistory.patientHolDb.patientSc">Sc(+),</span>
					<span ng-if="0 == patientHistory.patientHolDb.patientSc">Sc(-),</span>
					<span
						ng-if="!(1 == patientHistory.patientHolDb.patientSc || 0 == patientHistory.patientHolDb.patientSc)">Sc(?),</span>

					<span ng-if="1 == patientHistory.patientHolDb.patientTbc">tbc(+),</span>
					<span ng-if="0 == patientHistory.patientHolDb.patientTbc">tbc(-),</span>
					<span
						ng-if="!(1 == patientHistory.patientHolDb.patientTbc || 0 == patientHistory.patientHolDb.patientTbc)">tbc(?),</span>

					<span ng-if="1 == patientHistory.patientHolDb.patientT">T(+),</span>
					<span ng-if="0 == patientHistory.patientHolDb.patientT">T(-),</span>
					<span
						ng-if="!(1 == patientHistory.patientHolDb.patientT || 0 == patientHistory.patientHolDb.patientT)">T(?),</span>

					<span ng-if="1 == patientHistory.patientHolDb.patientHbs">ВІЛ(+),</span>
					<span ng-if="0 == patientHistory.patientHolDb.patientHbs">ВІЛ(-),</span>
					<span
						ng-if="!(1 == patientHistory.patientHolDb.patientHbs || 0 == patientHistory.patientHolDb.patientHbs)">ВІЛ(?),</span>

					<span ng-if="1 == patientHistory.patientHolDb.patientRw">RW(+)
						-</span> <span ng-if="0 == patientHistory.patientHolDb.patientRw">RW(-)
						-</span> <span
						ng-if="!(1 == patientHistory.patientHolDb.patientRw || 0 == patientHistory.patientHolDb.patientRw)">RW(?)
						-</span> ({{patientHistory.patientHolDb.patientRwDate |
					date:'dd.MM.yyyy'}})
				</div>
				<div>Побічна дія медикаментів:</div>
				<hr class="shortPatienHistory" />
				<div ng-context-menu="menuMovePatient">
					<u><b>Рух хворого</b></u>: <span
						ng-repeat="patientDepartmentMovement in patientHistory.patientDepartmentMovements">
						{{patientDepartmentMovement.departmentName}}: {{$index==0?'↓↓':'↓'
						}}{{patientDepartmentMovement.departmentHistoryIn |
						date:'dd.MM.yyyy HH:mm'
						}}{{patientDepartmentMovement.departmentHistoryOut?';':''}} <span
						ng-if="patientDepartmentMovement.departmentHistoryOut">
							↑{{patientDepartmentMovement.departmentHistoryOut |
							date:'dd.MM.yyyy HH:mm' }}; <small>
								{{patientDepartmentMovement.personalSurname}}
								{{patientDepartmentMovement.personalName}}
								{{patientDepartmentMovement.personalPatronymic}} </small> <br />
					</span>
					</span>
					<div collapse="!patientHistory.collapseMovePatient" class="well">
						<h3>Переведеня</h3>
						<div class="row" ng-controller="departmentCtrl">
							<div class="col-xs-5">
								<div class="form-group has-success has-feedback required">
									<label class="control-label sr-only" for="direct">Відділення
										госпіталізації</label> <input type="text"
										class="form-control input-sm"
										placeholder="Відділення госпіталізації" id="department"
										name="department" ng-model="patientEditing.departmentName"
										required="" ng-blur="validField2(newPatientForm.department)"
										tooltip-html-unsafe="Відділення госпіталізації &lt;b class='required-tooltip'>*&lt;/b>" />
									<span class="glyphicon form-control-feedback"></span> <span
										class="control-label ng-hide"
										ng-show="validateForm.department.fieldHasError">
										Відділення госпіталізації є обов'язковим і не може бути
										порожнім!</span>
								</div>
							</div>
							<div class="col-xs-1">
								<button type="button"
									class="btn btn-sm btn-default dropdown-toggle"
									data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<div class="dropdown-menu  dropdown-menu-right" role="menu">
									<table>
										<tr>
											<td>
												<ul>
													<li ng-repeat="departmentHol in departmentsHol"
														ng-if="departmentHol.department_profile_id == 2"><a
														ng-click="writeDepartment(departmentHol)">{{departmentHol.department_name}}</a>
													</li>
												</ul>
											</td>
											<td>
												<ul>
													<li ng-repeat="departmentHol in departmentsHol"
														ng-if="departmentHol.department_profile_id == 1"><a
														ng-click="writeDepartment(departmentHol)">{{departmentHol.department_name}}</a>
													</li>
												</ul>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-default"
									data-ng-click="movePatientDepartment()">
									<span class="glyphicon glyphicon-transfer"></span>
									Переведення
								</button>
							</div>
						</div>
					</div>
				</div>
				<hr class="shortPatienHistory" />
					<div data-ng-show="patientHistory.user">
						<!-- 
						Діагноз:
					 -->
						<span data-ng-repeat="diagnosHol in diagnosesHol"> <b
							title="{{diagnosHol.diagnosName}}"> <span
								data-ng-show="$index < 2 || $index > 5">{{diagnosHol.diagnosNameShort}}</span>
								<a data-ng-show="$index > 1 && $index < 6"
								data-ng-click="setDiagnosEditIndex($index)">{{diagnosHol.diagnosNameShort}}</a></b>
							<span class="glyphicon glyphicon-folder-open"
							data-ng-show="diagnosEditIndex == $index"></span> <span
							data-ng-show="!(diagnosTypeIndex[diagnosHol.diagnosId] >= 0)">
								, </span><span
							data-ng-show="diagnosTypeIndex[diagnosHol.diagnosId] >= 0">:
								{{patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].icdCode}}
								-
								{{patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].icdName
								}}<span
								data-ng-show="patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].historyDiagnosAdditional">.
									{{patientHistory.diagnosis[diagnosTypeIndex[diagnosHol.diagnosId]].historyDiagnosAdditional}}
							</span>
						</span> <br data-ng-if="diagnosTypeIndex[diagnosHol.diagnosId]" />
						</span>
					</div>
					<div class="well" collapse="collapseIcd10Liste">
					
					<form class="form-inline" role="form">
							<div class="form-group">
								<div class="input-group required-simple">
									<div class="input-group-addon">
									{{diagnosesHol[diagnosEditIndex].diagnosNameShort}}
									{{diagnosEditIndex}}
									: МКБ</div>
									<input type="text" class="form-control" id="icd10"
										data-ng-change="changeIcd10Name()" name="icd10"
										data-ng-model="patientHistory.diagnosis[diagnosEditIndex].icdName" />
										<!-- 
									<div class="input-group-btn">
										<button class="btn btn-default"
											ng-click="openIcd10TreeDialog()">
											<span class="glyphicon glyphicon-th-list"></span> <span
												class="caret"></span>
										</button>
									</div>
										 -->
								</div>
								<div class="input-group">
								<label for="icd10Add">Додаток до діагнозу:</label>
									<textarea class="form-control" rows="3" cols="50"
									id="icd10Add" name="icd10Add"
										data-ng-model="patientHistory.diagnosis[diagnosEditIndex].historyDiagnosAdditional"></textarea>
								</div>
							</div>
						</form>
					
					
					
			<div class="row">
					<div class="col-xs-6">
						<ul>
							<li
								data-ng-repeat="icd10Class1 in icd10Root.icd10Childs | filter:patientHistory.diagnosis[diagnosEditIndex].icdName">
								<span data-ng-show="{{icd10Class1.icdCode.contains('-') }}">
									{{icd10Class1.icdCode }}, {{icd10Class1.icdName}} </span> <a
								data-ng-show="icd10Class1.icdCode.indexOf('.') > 1 "
								data-ng-click="seekGroupIcd10(icd10Class1, diagnosEditIndex)">
									{{icd10Class1.icdCode.substring(0,icd10Class1.icdCode.indexOf('.'))
									}}</a><a data-ng-show="{{!icd10Class1.icdCode.contains('-') }}"
								data-ng-click="setIcd10(icd10Class1)">{{icd10Class1.icdCode.indexOf('.')
									> 1?
									icd10Class1.icdCode.substring(icd10Class1.icdCode.indexOf('.')):icd10Class1.icdCode
									}}, {{icd10Class1.icdName}} </a>
								<ul
									data-ng-show="patientHistory.diagnosis[diagnosEditIndex].icdName.length > 2">
											<li
												data-ng-repeat="icd10Class2 in icd10Class1.icd10Childs | filter:patientHistory.diagnosis[diagnosEditIndex].icdName">
												<span data-ng-show="{{icd10Class2.icdCode.contains('-') }}">
													{{icd10Class2.icdCode }}, {{icd10Class2.icdName}} </span> <a
												data-ng-show="icd10Class2.icdCode.indexOf('.') > 1 "
												data-ng-click="seekGroupIcd10(icd10Class2, diagnosEditIndex)">
													{{icd10Class2.icdCode.substring(0,icd10Class2.icdCode.indexOf('.'))
													}}</a><a
												data-ng-show="{{!icd10Class2.icdCode.contains('-') }}"
												data-ng-click="setIcd10(icd10Class2)"
												>{{icd10Class2.icdCode.indexOf('.')
									> 1?
									icd10Class2.icdCode.substring(icd10Class2.icdCode.indexOf('.')):icd10Class2.icdCode
									}}, {{icd10Class2.icdName}} </a>
												<ul>
													<li
														data-ng-repeat="icd10Class3 in icd10Class2.icd10Childs | filter:patientHistory.diagnosis[diagnosEditIndex].icdName">
														<span
														data-ng-show="{{icd10Class3.icdCode.contains('-') }}">
															{{icd10Class3.icdCode }}, {{icd10Class3.icdName}} </span> <a
														data-ng-show="{{!icd10Class3.icdCode.contains('-') }}"
														data-ng-click="setIcd10(icd10Class3)">
															{{icd10Class3.icdCode }}, {{icd10Class3.icdName}} </a>
														<ul>
															<li
																data-ng-repeat="icd10Class4 in icd10Class3.icd10Childs | filter:patientHistory.diagnosis[diagnosEditIndex].icdName">
																{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} <span
																data-ng-show="{{icd10Class4.icdCode.contains('-') }}">
																	{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} </span> <a
																data-ng-show="{{!icd10Class4.icdCode.contains('-') }}"
																data-ng-click="setIcd10(icd10Class4)">
																	{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} </a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
							</li>
						</ul>
					</div>
					<div class="col-xs-6" data-ng-controller="icd10Ctrl">

						<ul>
							<li ng-repeat="icd10Class1 in icd10Root.icd10Childs"><span
								ng-if="!icd10Class1.collapse"
								class="glyphicon glyphicon-{{iconsTreeClose}}"></span> <span
								ng-if="icd10Class1.collapse"
								class="glyphicon glyphicon-{{iconsTreeOpen}}"></span> <span
								class="record"
								ng-class="{'record-highlight':  icd10Class1.icdId == icd10Selected.icdId
	, 'record-highlight-parent': icd10Class1.icdId == icd10Pfad2Parents[1].icdId }"
								ng-click="clickItem(icd10Class1)"
								title="{{icd10Class1.icd10Childs.length}}">
									{{icd10Class1.icdCode }}, {{icd10Class1.icdName}} </span>
								<ul ng-if="isIcd10ChildsOpen(icd10Class1)">
									<li ng-repeat="icd10Class2 in icd10Class1.icd10Childs">
										<span ng-if="!icd10Class2.collapse"
										class="glyphicon glyphicon-{{iconsTreeClose}}"></span> <span
										ng-if="icd10Class2.collapse"
										class="glyphicon glyphicon-{{iconsTreeOpen}}"></span> <span
										class="record"
										ng-class="{'record-highlight': icd10Class2.icdId == icd10Selected.icdId
			, 'record-highlight-parent': icd10Class2.icdId == icd10Pfad2Parents[2].icdId }"
										ng-click="clickItem(icd10Class2)"
										title="{{icd10Class2.icd10Childs.length}}">
											{{icd10Class2.icdCode }}, {{icd10Class2.icdName}} </span>
										<ul ng-if="isIcd10ChildsOpen(icd10Class2)">
											<li ng-repeat="icd10Class3 in icd10Class2.icd10Childs">
												<span
												ng-if="icd10Class3.icdRightKey - icd10Class3.icdLeftKey == 1"
												class="glyphicon glyphicon-minus"> </span> <span
												ng-if="icd10Class3.icdRightKey - icd10Class3.icdLeftKey > 1">
													<span ng-if="!icd10Class3.collapse"
													class="glyphicon glyphicon-{{iconsTreeClose}}"></span> <span
													ng-if="icd10Class3.collapse"
													class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
											</span> <span class="record"
												ng-class="{'record-highlight': icd10Class3.icdId == icd10Selected.icdId
					, 'record-highlight-parent': icd10Class3.icdId == icd10Pfad2Parents[3].icdId }"
												ng-click="clickItem(icd10Class3)"
												title="{{icd10Class3.icd10Childs.length}}">
													{{icd10Class3.icdCode }}, {{icd10Class3.icdName}} </span>
												<ul ng-if="isIcd10ChildsOpen(icd10Class3)">
													<li ng-repeat="icd10Class4 in icd10Class3.icd10Childs">
														<span
														ng-if="icd10Class4.icdRightKey - icd10Class4.icdLeftKey == 1"
														class="glyphicon glyphicon-minus"> </span> <span
														ng-if="icd10Class4.icdRightKey - icd10Class4.icdLeftKey > 1">
															<span ng-if="!icd10Class4.collapse"
															class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
															<span ng-if="icd10Class4.collapse"
															class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
													</span> 
													
													
													<span class="record"
														ng-class="{'record-highlight': icd10Class4.icdId == icd10Selected.icdId
							, 'record-highlight-parent': icd10Class4.icdId == icd10Pfad2Parents[4].icdId }"
														ng-click="clickItem(icd10Class4)"
														title="{{icd10Class4.icd10Childs.length}}">
															{{icd10Class4.icdCode }}, {{icd10Class4.icdName}} </span>
															
													
<button class="btn btn-default btn-xs"
	ng-click="openPatientInfo(patient)">
	<span class="glyphicon glyphicon-play"></span>
</button>


														<ul ng-if="isIcd10ChildsOpen(icd10Class4)">
															<li ng-repeat="icd10Class5 in icd10Class4.icd10Childs">
																<span
																ng-if="icd10Class5.icdRightKey - icd10Class5.icdLeftKey == 1"
																class="glyphicon glyphicon-minus">
															</span> <span
																ng-if="icd10Class5.icdRightKey - icd10Class5.icdLeftKey > 1">
																	<span ng-if="!icd10Class5.collapse"
																	class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
																	<span ng-if="icd10Class5.collapse"
																	class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
															</span> <span class="record"
																ng-class="{'record-highlight': icd10Class5.icdId == icd10Selected.icdId
									, 'record-highlight-parent': icd10Class5.icdId == icd10Pfad2Parents[5].icdId }"
																ng-click="clickItem(icd10Class5)"
																title="{{icd10Class5.icd10Childs.length}}">
																	{{icd10Class5.icdCode }}, {{icd10Class5.icdName}} </span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul></li>
						</ul>

					</div>
				</div>
					
					
					
					
					
					
					
					
					
					
					</div>
					<hr class="shortPatienHistory" />
				<div data-ng-show="patientHistory.historyTreatmentAnalysises.length > 0">
					<div data-ng-if="patientHistory.operationHistorys">
						<h3>Операції</h3>
						<div data-ng-repeat="operation in patientHistory.operationHistorys">
							{{operation.operation_history_start | date:'dd.MM.yyyy HH:mm'}} -
							{{operation.operation_history_end | date:'HH:mm'}} <span
								title="{{operation.operation_group_name}}/{{operation.operation_subgroup_name}}">{{operation.operation_name}}.</span>
							<span>{{operation.operation_additional}}</span>
						</div>
					</div>
					<h3>
						<small> <span class="glyphicon glyphicon-share"></span>
						</small> <a href="epicrise.html?hid={{patientHistory.historyId}}">
							Епикриз </a>
					</h3>
					<!-- 
				<u><b>Перебіг хвороби</b></u>:
				 -->
					<div
						ng-repeat="historyTreatmentAnalysis in patientHistory.historyTreatmentAnalysises "
						ng-if="'' != historyTreatmentAnalysis.historyTreatmentAnalysisText"
						ng-show="0 > historyTreatmentAnalysis.historyTreatmentAnalysisText.indexOf('table')">
						<u><b>{{historyTreatmentAnalysis.historyTreatmentAnalysisName}}</b></u>:
						<span
							ng-bind-html="historyTreatmentAnalysis.historyTreatmentAnalysisText"></span>
					</div>
				</div>
				<h3 data-ng-show="patientHistory.epicrise2saved">
					<small> <span class="glyphicon glyphicon-share"></span>
					</small> <a href="epicrise.html?hid={{patientHistory.historyId}}">
						Епикриз </a>
				</h3>
				</div>
		</div>
		<div class="col-md-3 well no-print">
			<h4>Робоча панель</h4>
			<ol>
				<li><span class="glyphicon glyphicon-eye-open"></span> <a
					href="/hol/history.html?hno={{patientHistory.historyId}}"> Перегляд </a></li>
				<li><span class="glyphicon glyphicon-edit"></span> <a
					href="/hol/addPatient.html?hno={{patientHistory.historyId}}">
						Редагування ПЧ </a> | <small> <a
						href="http://localhost/history/inedit/id/{{patientHistory.historyId}}">
							<span class="glyphicon glyphicon-link"></span> HOL1
					</a>
				</small></li>
				<li><span class="glyphicon glyphicon-transfer"></span> <a
					ng-click="patientHistory.collapseMovePatient = !patientHistory.collapseMovePatient ">
						Переведеня </a></li>
				<li><span class="glyphicon glyphicon-share"></span> <a
					href="/hol/epicrise.html?hid={{patientHistory.historyId}}">
						Виписка </a> | <small> <a
						href="http://localhost/history/edit/id/{{patientHistory.historyId}}">
							<span class="glyphicon glyphicon-link"></span>HOL1
					</a>
				</small></li>
			</ol>
			<div class="navbar-right"> 
				<a href="http://localhost/history/{{patientHistory.historyId}}"> 
				<span class="glyphicon glyphicon-link"></span>
				HOL1 </a> 
			</div>
		</div>
	</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom"
		role="navigation">
		<div class="container">
			<!-- 
			<span class="glyphicon glyphicon-asterisk"></span>
			 -->
			<span class="glyphicon glyphicon-play"></span>
			
			<span class="glyphicon glyphicon-floppy-disk"></span> <a data-ng-click="saveWorkDoc()" href="#"
				title="Запис {{numberOfChange}} незбережених змін"> Запис
				{{numberOfChange}} </a> <span data-ng-show="patientHistory.requiredFieldFullProcent > 0">
				ТЧ {{patientHistory.requiredFieldFullProcent}}%</span>


			<ol class="list-inline navbar-right">
				<li><span class="glyphicon glyphicon-eye-open"></span> <a
					href="/hol/history.html?hno={{patientHistory.historyId}}"> Перегляд </a></li>
				<li><span class="glyphicon glyphicon-edit"></span> <a
					href="/hol/addPatient.html?hno={{patientHistory.historyId}}">
						Редагування ПЧ </a></li>
				<li><span class="glyphicon glyphicon-transfer"></span> <a
					ng-click="patientHistory.collapseMovePatient = !patientHistory.collapseMovePatient ">
						Переведеня </a></li>
				<li><span class="glyphicon glyphicon-share"></span> <a
					href="/hol/epicrise.html?hid={{patientHistory.historyId}}">
						Виписка </a></li>
					<li>|</li>
				<li data-ng-show="!patientHistory.user"><span
					class="glyphicon glyphicon-log-in"></span> <a href="/login">
						Ввійти </a></li>
				<li data-ng-show="patientHistory.user"><span
					class="glyphicon glyphicon-log-out"></span>
					:{{patientHistory.user.name}} <a href="/hol/logout.html"> Вийти </a></li>
			</ol>
		</div>
	</nav>

	<script src="/js/jquery-2.1.3.min.js"></script>
	<script src="/css/b/js/bootstrap.min.js"></script>
	<script src="/js/rangy-core.js"></script>
	<script src="/js/a/angular.min.js"></script>
	<script src="/js/a/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="/css/b/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src='/js/textAngular-sanitize.min.js'></script>
	<script src='/js/textAngular.min.js'></script>
	<script src="/db/config.json.js"></script>
	<script src="/db/operationTree.json.js"></script>
	<script src="/db/icd10uaGroups.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/cuwy1.controller.js"></script>
	<script src="/js/icd10Editor1Ctrl.js"></script>
	<script src="/js/historyCtrl.js"></script>


</body>
</html>
