<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="OpCtrl"
 ng-cloak class="ng-cloak"
>
<head>
<title>Операція - {{patientHistory.patientHolDb.patientSurname}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/b/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/datepicker.css"></link>
<link rel='stylesheet prefetch' href='/css/font-awesome.min.css'/>
<link rel="stylesheet" href="/css/epicrise3.css"></link>
<link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

</head>

<body data-key-cuwytrap="">

	<div class="container">
		<div class="row">
			<div class="col-xs-5" style="text-align: right;">
				Хмельницька Обласна Лікарня<br> м.Хмельницький, вул.Пілотська,
				1 <span class="navbar-left no-print"> </span>
			</div>
			<div class="col-xs-1" style="text-align: center;">
				<img alt="trizub" src="/img/gerb_small.png">
			</div>
			<div class="col-xs-5">
				+380 382 72-07-42, incoming@med.km.ua <br /> http://hol.in.ua/ <span
					class="navbar-right no-print"> </span>
			</div>
		</div>
	</div>
	<div class="container">

		<div class="row no-print">
			<div class="col-xs-7">
				<ol class="breadcrumb">
					<li><a href="/hol/home.html"><span
							class="glyphicon glyphicon-home"></span> ХОЛ</a></li>
					<li><a
						href="/hol/department.html?dep={{patientHistory.patientDepartmentMovements
		[patientHistory.patientDepartmentMovements.length -1]
		.departmentId}}">
							відділення:
							{{patientHistory.patientDepartmentMovements[patientHistory.patientDepartmentMovements.length
							-1].departmentName}} </a></li>
					<li><a href="/hol/history.html?hno={{param.hno}}"> ІХ № <u>{{patientHistory.historyNo}}</u>
					</a></li>
					<li><a
						href="/hol/op.html?hid={{patientHistory.historyId}}&ophid={{param.ophid}}">
							Операція </a></li>
				</ol>
			</div>
			<div class="col-xs-5"
				style="text-align: right; background-color: #f5f5f5;">
				<ol class="list-inline navbar-right">
					<li><span data-ng-show="autoSaveCount > 0"
						title="Кільськість автозбережень - {{autoSaveCount}}">
							{{autoSaveCount}} </span> <span class="glyphicon glyphicon-floppy-disk"></span>
						<a data-ng-click="saveOperation()" href="#"
						title="Запис {{numberOfChange}} незбережених змін"> Запис
							{{numberOfChange}} </a> <span
						data-ng-show="patientHistory.requiredFieldFullProcent > 0">
							ТЧ {{patientHistory.requiredFieldFullProcent}}%</span></li>
					<li>|</li>
					<li><span class="glyphicon glyphicon-eye-open"></span> <a
						href="/hol/history.html?hno={{patientHistory.historyId}}">
							Перегляд </a></li>
					<li>|</li>
					<li data-ng-show="!patientHistory.user"><span
						class="glyphicon glyphicon-log-in"></span> <a
						href="/login?url=addPatient&hno={{hno}}"> Ввійти </a></li>
					<li data-ng-show="patientHistory.user"><span
						class="glyphicon glyphicon-log-out"></span>
						:{{patientHistory.user.name}} <a href="/hol/logout.html">
							Вийти </a></li>
				</ol>
			</div>
		</div>

		<div>
			<span data-ng-show="patientHistory.patientHolDb.patientGender == 1">
				Хворий: </span> <span
				data-ng-show="patientHistory.patientHolDb.patientGender != 1">
				Хвора: </span> <span class="pip">
				{{patientHistory.patientHolDb.patientSurname}}
				{{patientHistory.patientHolDb.patientPersonalName}}
				{{patientHistory.patientHolDb.patientPatronymic}}</span> <span
				ng-bind="calculateAge(patientHistory.patientHolDb.patientDob)"></span>
			р. (*{{patientHistory.patientHolDb.patientDob | date:'dd.MM.yyyy'}})
		</div>

		<div
			data-ng-show="patientHistory.historyTreatmentAnalysises.length > 0">
			<div data-ng-if="patientHistory.operationHistorys">
				<h3>
					<small> <span class="glyphicon glyphicon-pushpin"></span>
					</small> <a href="#"> Протокол операції </a>
					<!-- 
						<a href="/hol/op.html?hid={{patientHistory.historyId}}">
						Операції </a>
						 -->
				</h3>
				<div>
					<span
						title="{{operation.operation_group_name}}/{{operation.operation_subgroup_name}}">
						<a href="#" data-ng-click="openOpDialog()">
							{{!operation.operation_code?'Код операції':''}}
							{{operation.operation_code}}<span
							data-ng-show="collapseDialog == 'op'"
							class="glyphicon glyphicon-folder-open no-print"></span>
					</a> - {{operation.operation_name}} . <span>{{operation.operation_additional}}</span>
					</span> <a href="#" data-ng-click="openDialog('beginOp')">
						{{operation.operation_history_start | date:'dd.MM.yyyy HH:mm'}}
						{{operation.operation_history_end | date:' - HH:mm'}} <span
						data-ng-show="collapseDialog == 'beginOp'"
						class="glyphicon glyphicon-folder-open"></span>
					</a> тривалість <a href="#" data-ng-click="openDialog('durationOp')">(
						{{operation_duration_hhmm}} ) <span
						data-ng-show="collapseDialog == 'durationOp'"
						class="glyphicon glyphicon-folder-open"></span>
					</a>
				</div>

				<div class="well" collapse="collapseDialog != 'durationOp'">
					<label for="intNumber">Тривалість операцій --
						{{(operation_duration_min - operation_duration_min%60)/60 < 10?
						'0':''}}{{(operation_duration_min -
						operation_duration_min%60)/60}} :
						{{operation_duration_min%60<10?'0':''}}{{operation_duration_min%60}}
					</label>
					<table width="100%"> <tr> <td>0</td> <td>1 год.</td> <td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> </tr> </table>
					<!-- 
						data-ng-mouseup="setOperationDuration(operation_duration_min)"
					 -->
					<input id="intNumber"
						data-ng-change="setOperationDuration(operation_duration_min)"
						data-ng-model="operation_duration_min" type="range" step="5" min="0"
						max="480" />
				</div>
				<div class="well" collapse="collapseDialog != 'beginOp'">
					<table>
						<tr>
							<th>Дата - початку операції</th>
							<th>години</th>
							<th>хвилини</th>
						</tr>
						<tr>
							<td><datepicker
									data-ng-model="operation.operation_history_start"
									data-date-format="dd MM yyyy - HH:ii p" min-date="minDate"
									show-weeks="true" class="well well-sm"></datepicker></td>
							<td class="top"><select data-ng-model="ophStartHH"
								data-ng-change="clickOphStartHH(ophStartHH)">
									<option data-ng-repeat="hh in hoursList" value="{{hh}}"
										data-ng-selected="ophStartHH == hh">{{hh}}</option>
							</select></td>
							<td class="top"><select data-ng-model="ophStartMM"
								data-ng-change="clickOphStartMM(ophStartMM)">
									<option data-ng-repeat="mm in minList" value="{{mm}}"
										data-ng-selected="ophStartMM == mm">{{mm}}</option>
							</select></td>
						</tr>
					</table>
				</div>
				<div class="well no-print" collapse="collapseDialog != 'op'">
					<div class="row no-print">
						<form class="form-inline" role="form">
							<div class="col-xs-6">
								<div class="form-group">
									<div class="input-group required-simple">
										<div class="input-group-addon">Назва операції</div>
										<input type="text" class="form-control" id="opName"
											name="opName" data-ng-model="operation.operation_name" />
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<textarea rows="2" cols="33"
									data-ng-model="operation.operation_additional">
								</textarea>
							</div>
						</form>
					</div>
					<div class="row no-print">
						<div class="col-xs-12">
							<ul class="nav nav-tabs">
								<li role="presentation"
									data-ng-class="{'active':activeTabName == 'seek'}"
									class="active"><a data-ng-click="activateTabName('seek')"><span
										class="glyphicon glyphicon-search"></span></a></li>
								<li role="presentation"
									data-ng-class="{'active':activeTabName == 'folder'}"><a
									data-ng-click="activateTabName('folder')"><span
										class="glyphicon glyphicon-folder-{{activeTabName == 'folder' ? 'open':'close'}}"></span></a></li>
							</ul>
							<div data-ng-show="activeTabName == 'seek'">
								<ul>
									<li data-ng-repeat="op1 in filteredOperationTree"><a
										data-ng-click="openOpGroup(1,op1)"> <span
											class="glyphicon glyphicon-folder-{{isFolderOpen(1,op1) ? 'open':'close'}}"></span>
									</a> {{op1.operationGroupName}}
										<ul>
											<li data-ng-repeat="op2 in op1.filterSubGroups"><a
												data-ng-click="openOpGroup(2,op2)"> <span
													class="glyphicon glyphicon-folder-{{isFolderOpen(2,op2) ?'open':'close'}}"></span>
											</a> <span
												title="{{op2.operationGroupId}}/{{op2.operationSubgroupId}}">
													{{op2.operationSubgroupName}} </span>
												<ul>
													<li data-ng-repeat="op3 in op2.filterOperations"><a
														data-ng-click="setOp(op3, operation)">
															{{op3.operationCode}} </a>:<span title="{{op3.operationId}}">
															{{op3.operationName}} </span></li>
													<!-- 
														<li data-ng-show="isFolderOpen(2,op2)"
															data-ng-repeat="op3 in op2.operationChilds"><a
															data-ng-click="setOp(op3, operation)">
																{{op3.operationCode}} </a>:<span title="{{op3.operationId}}">
																{{op3.operationName}} </span></li>
																 -->
												</ul></li>
										</ul></li>
								</ul>
							</div>
							<div data-ng-show="activeTabName == 'folder'">
								<a data-ng-click="clickRootFolder()"> <span
									class="glyphicon glyphicon-folder-{{isRootFolderOpen?'open':'close'}}"></span>
								</a>
								<ul>
									<!-- open operation group  -->
									<li data-ng-show="isRootFolderOpen"
										data-ng-repeat="op1 in operationTree"><a
										data-ng-click="openGroupFolder(op1)"> <span
											class="glyphicon glyphicon-folder-close"></span>
									</a> <span title="{{op1.operationGroupId}}"
										data-ng-class="{'bold':openedGroupFolder.operationGroupId == op1.operationGroupId}">
											{{op1.operationGroupName}} </span></li>
									<li data-ng-show="isGroupFolderOpen"><a
										data-ng-click="closeGroupFolder()"> <span
											class="glyphicon glyphicon-folder-open"></span>
									</a> <span title="{{openedGroupFolder.operationGroupId}}">
											{{openedGroupFolder.operationGroupName}} </span>
										<ul>
											<li
												data-ng-repeat="op2 in openedGroupFolder.operationSubGroupChilds"><a
												data-ng-click="openOpGroup(2,op2)"> <span
													class="glyphicon glyphicon-folder-{{isFolderOpen(2,op2) ?'open':'close'}}"></span>
											</a> <span
												title="{{op2.operationGroupId}}/{{op2.operationSubgroupId}}">
													{{op2.operationSubgroupName}} </span>
												<ul>
													<li data-ng-show="isFolderOpen(2,op2)"
														data-ng-repeat="op3 in op2.operationChilds"><a
														data-ng-click="setOp(op3, operation)">
															{{op3.operationCode}} </a>:<span title="{{op3.operationId}}">
															{{op3.operationName}} </span></li>
												</ul></li>
										</ul></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div>
					<a href="#" data-ng-click="openDialog('diagnos')">Діагноз при
						операції :<span data-ng-show="collapseDialog == 'diagnos'"
						class="glyphicon glyphicon-folder-open"></span>
						{{operation.icd_code}} - {{operation.icd_name}}
					</a>
				</div>
				<div class="well" collapse="collapseDialog != 'diagnos'">
					<ul>
						<li data-ng-repeat="ds in patientHistory.diagnosis"><a href="#"
							data-ng-click="setDiagnos(ds)"> {{ds.icdCode}} -
								{{ds.icdName}} </a></li>
					</ul>
				</div>
				<div>
					<span><a href="#" data-ng-click="openDialog('department')">Відділення:<span
							data-ng-show="collapseDialog == 'department'"
							class="glyphicon glyphicon-folder-open"></span></a>
						{{operation.department_name}}</span>, <span> <a href="#"
						data-ng-click="openDialog('surgery')"> Хірург:<span
							data-ng-show="collapseDialog == 'surgery'"
							class="glyphicon glyphicon-folder-open"></span></a>
						{{operation.surgery_name}}
					</span>.
				</div>
				<div>
					<a href="#" data-ng-click="openDialog('anesthetist')">Анестезіолог:<span
						data-ng-show="collapseDialog == 'anesthetist'"
						class="glyphicon glyphicon-folder-open"></span>
					</a>
					<span ng-context-menu="menuDeletAnesthetist">
						{{operation.anesthetist_name}}</span>, 
					<a href="#" data-ng-click="openDialog('anestesia')">Анестезія:<span
						data-ng-show="collapseDialog == 'anestesia'"
						class="glyphicon glyphicon-folder-open"></span>
					</a>
					<span ng-context-menu="menuDeletAnestesia">
						{{operation.anestesia_name}}</span>
				</div>
				<div class="well" collapse="collapseDialog != 'anestesia'">
					<ul>
						<li data-ng-repeat="a in anestesia"><a
							href="#" data-ng-click="setAnestesia(a)">
								{{a.anestesia_name}} </a></li>
					</ul>
				</div>
				<div class="well" collapse="collapseDialog != 'anesthetist'">
					<div class="input-group">
						<span class="input-group-addon">Пошук:</span> <input
						id="seekAnesthetist"
							data-ng-model="seekAnesthetist" type="text" class="form-control"
							placeholder=" пошук анестезіолога " />
					</div>
					<ul>
						<li data-ng-repeat="a in anesthetists | filter : seekAnesthetist"><a
							href="#" data-ng-click="setAnesthetist(a)">
								{{a.personal_surname}} {{a.personal_name}}
								{{a.personal_patronymic}} </a></li>
					</ul>
				</div>
				<div>
					<span><a href="#" data-ng-click="openDialog('opresult')">
							Результат:<span data-ng-show="collapseDialog == 'opresult'"
							class="glyphicon glyphicon-folder-open"></span>
					</a> {{operation.operation_result_name}} </span>, <a href="#"
						data-ng-click="openDialog('complication')"> Ускладнення:<span
						data-ng-show="collapseDialog == 'complication'"
						class="glyphicon glyphicon-folder-open"></span></a><span
						ng-context-menu="menuDeletComplication">
						{{operation.operation_complication_id}}.
						{{operation.operation_complication_name}} </span>
				</div>
				<div class="well" collapse="collapseDialog != 'opresult'">
					<ul>
						<li data-ng-repeat="or in operationResultListe"><a
							data-ng-click="setOperationResult(or)"> {{or.operation_result_name}} </a></li>
					</ul>
				</div>
				
				<div class="well" collapse="collapseDialog != 'surgery'">
					<div class="input-group">
						<span class="input-group-addon">Пошук:</span> <input
							data-ng-model="seekSurgery" type="text" class="form-control"
							placeholder=" пошук хірурга " />
					</div>
					<ul>
						<li data-ng-repeat="s in surgerys | filter : seekSurgery"><a
							data-ng-click="setSurgery(s)"> {{s.personal_surname}}
								{{s.personal_name}} {{s.personal_patronymic}} </a></li>
					</ul>
				</div>
				
				<div class="well" collapse="collapseDialog != 'department'">
					<div class="input-group">
						<span class="input-group-addon">Пошук:</span> <input
							data-ng-model="seekDepartment" type="text" class="form-control"
							placeholder=" пошук відділення " />
					</div>
					<ul>
						<li
							data-ng-repeat="d in departments | filter:{department_profile_id:2} | filter : seekDepartment"><a
							data-ng-click="setDepartment(d)"> {{d.department_id}}.
								{{d.department_name}} </a></li>
					</ul>
				</div>
				<div class="well" collapse="collapseDialog != 'complication'">
					<div class="input-group">
						<span class="input-group-addon">Пошук:</span> <input
							data-ng-model="seekComplication" type="text" class="form-control"
							placeholder=" пошук ускладнень " />
					</div>
					<ul>
						<li data-ng-repeat="opc in opComplications| filter : seekComplication"><a
							data-ng-click="setComplication(opc)">
								{{opc.operation_complication_id}}.
								{{opc.operation_complication_name}} </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom"
			role="navigation">
			<div class="container">
				<span><span class="glyphicon glyphicon-console"></span>
					&#160; &nbsp; </span><span class="glyphicon glyphicon-floppy-disk"></span>
				<a data-ng-click="saveOperation()" href="#"
					title="Запис {{numberOfChange}} незбережених змін"> Запис
					{{numberOfChange}} </a> <span
					data-ng-show="patientHistory.requiredFieldFullProcent > 0">
					ТЧ {{patientHistory.requiredFieldFullProcent}}%</span>
				<ol class="list-inline navbar-right">
					<li><span class="glyphicon glyphicon-eye-open"></span> <a
						href="/hol/history.html?hno={{param.hid}}"> Перегляд </a></li>
					<li>|</li>
					<li data-ng-show="!patientHistory.user"><span
						class="glyphicon glyphicon-log-in"></span> <a
						href="/login?url=addPatient&hno={{hno}}"> Ввійти </a></li>
					<li data-ng-show="patientHistory.user"><span
						class="glyphicon glyphicon-log-out"></span>
						:{{patientHistory.user.name}} <a href="/hol/logout.html">
							Вийти </a></li>
				</ol>
			</div>
		</nav>
		
	<script src="/js/jquery-2.1.3.min.js" type="application/javascript"></script>
	<script src="/css/b/js/bootstrap.min.js" type="application/javascript"></script>
	<script src="/js/rangy-core.js" type="application/javascript"></script>
	<script src="/js/a/angular.min.js" type="application/javascript"></script>
	<script src="/js/a/angular-sanitize.min.js" type="application/javascript"></script>
	<script src="/js/ui-bootstrap-tpls-0.12.1.min.js" type="application/javascript"></script>
	<script src="/css/b/js/bootstrap.min.js" type="application/javascript"></script>
	<script src="/js/bootstrap-datepicker.min.js" type="application/javascript"></script>
	<script src='/js/textAngular-sanitize.min.js' type="application/javascript"></script>
	<script src='/js/textAngular.min.js' type="application/javascript"></script>
	<script src="/db/config.json.js" type="application/javascript"></script>
	<script src="/db/operationTree.json.js" type="application/javascript"></script>
	<script src="/db/icd10uaGroups.json.js" type="application/javascript"></script>
	<script src="/js/cuwy1.directives.js" type="application/javascript"></script>
	<script src="/js/operation.directive.js" type="application/javascript"></script>
	<script src="/js/operation2.directive.js" type="application/javascript"></script>
	<script src="/js/cuwy1.controller.js" type="application/javascript"></script>
	<script src="/js/icd10Editor1Ctrl.js" type="application/javascript"></script>
	
</body>

</html>
