@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}
/*------------hover-menu------------------------------------------------------*/
	.animate-show { transition: all linear 0.5s; opacity: 1; } 
	.animate-show.ng-hide-add,
	.animate-show.ng-hide-remove { display: inline-block !important; }
	.animate-show.ng-hide { opacity: 0; }
	li.hover-menu:hover,
	td.hover-menu:hover,
	tr.hover-menu:hover { background: silver; }
	.hover-menu-width {width: 70px;}
/*------------hover-menu---------------------------------------------------END*/
td.top {
	vertical-align: top;
}
.navbar,
.navbar ol
 {
	margin-bottom: 1px;
	min-height: 2px;
}
