/angular-sanitize.min.js
/angular.min.js
/bootstrap-datepicker.js
/bootstrap.min.js
/bootstrapValidator.min.js
/jquery-2.1.1.min.js
/jquery-ui.min.js
/jquery.min.js
/ui-bootstrap-tpls-0.11.0.js
/ui-utils-1.js
/ui-utils.js
